@mixin shrinkLabel {
  transform: translateY(-140%);
  font-size: 13px;
}
.shrink {
  transform: translateY(-140%);
  font-size: 13px;
}
.logreg {
  text-align: center;
  display: block;
  letter-spacing: 1px;
  position: absolute;
  width: 35em;
  height: auto;
  background-color: #fff;
  z-index: 100;
  top: 40%;
  left: 50%;
  text-align: center;

  transform: translate(-50%, -50%);
  td.logreg-input-container {
    position: relative;
    height: 60px;
  }

  table {
    margin: 22px auto 3.5em;
    width: 88%;
    padding: 0 20px;
  }
}
